* {
  padding: 0;
  margin: 0;
}

.slack-container {
  height: 100vh;
  overflow: hidden;
}

.workspace-bar {
  width: 7vh;
  background-color: #3f0e40;
  color: white;
  padding-top: 2vh;
  position: relative;
}


.workspace-icon {
  background: #611f69;
  width: 4.5vh;
  height: 4.5vh;
  border: 0.2vh solid #611f69;
  border-radius: 1.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.workspace-icon:hover {
  border: 0.2vh solid #603762;
  background: #603762;
}

.sidebar {
  width: 25vh;
  background-color: #350d36;
  color: #ddd;
  overflow-y: auto;
}

.sidebar .nav-link {
  color: #ddd;
  padding: 0.5vh 0;
  margin-left: 0.5vh;
  font-size: 0.9rem;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  color: white;
}

.section-title {
  font-size: 0.8rem;
  opacity: 0.6;
  text-transform: uppercase;
}

.workspace-title {
  font-size: 1.2rem;
  color: white;
}

.chat-area {
  flex-grow: 1;
  display: flex;
  background-color: white;
}

.chat-header {
  height: 5.5vh;
  border-bottom: 0.1vh solid #ddd;
  background-color: #f8f8f8;
}

.channel-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.input-area {
  border-top: 0.1vh solid #ddd;
}

.search-box {
  width: 20vh;
}

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

.no-style {
  background-color: #3f0e40;
  border: none;
  color: white;
}

.text-hover:hover {
  color: #007bff; /* 글자색 변경 */
  /* text-decoration: underline; /* 밑줄 추가 */
  /* text-decoration-color: #007bff; 밑줄 색상 지정 */ 
  font-weight: bold; /* 글자 굵기 변경 */
}

.menu1 :after {
  width: 0;
  height: 1vw;
  background: #5d8cef;
  left: 50%;
}