*{
padding: 0;
margin: 0;
}
/* General layout */
.slack-container {
    height: 100vh;
    overflow: hidden;
}

/* Workspace bar (left-most) */
.workspace-bar {
    width: 70px;
    background-color: #3F0E40;
    color: white;
    padding-top: 20px;
    position: relative;
}

.workspace-icon {
    background: #611f69;
    width: 45px;
    height: 45px;
    border: 2px solid #611f69;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.workspace-icon:hover{
    border: 2px solid #603762;
    background: #603762;
}

/* Sidebar (channels) */
.sidebar {
    
    width: 250px;
    background-color: #350D36;
    color: #ddd;
    overflow-y: auto;
}

.sidebar .nav-link {
    color: #ddd;
    padding: 5px 0;
    margin-left: 5px;
    font-size: 0.9rem;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    color: white;
}

.section-title {
    font-size: 0.8rem;
    opacity: 0.6;
    text-transform: uppercase;
}

.workspace-title {
    font-size: 1.2rem;
    color: white;
}

.chat-area {
    flex-grow: 1;
    display: flex;
    background-color: white;
}

.chat-header {
    
    height: 55px;
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8;
}

.channel-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.input-area {
    border-top: 1px solid #ddd;
}

.search-box {
    width: 200px;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

.no-style{
    background-color: #3F0E40;
    border:none;
    color: white;
}

