a {
    text-decoration: none;
}
.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}
.form-right i {
    font-size: 100px;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}