/* Wrapping container */
.react-calendar {
  margin: 40px 40px;
  width: 1000px;
  height: 700px;
  max-width: 100%;
  background: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding: 20px;
  border: none;
}

/* Navigation */
.react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
  border-radius: 6px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

/* Remove underline on day names */
abbr[title] {
  text-decoration: none;
}

/* Tiles (days) */
.react-calendar__tile {
  height: 45px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  border-radius: 6px;
  color: #6f48eb;
}

/* Today */
.react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
}

/* Active day */
.react-calendar__tile--active {
  background: #6f48eb !important;
  border-radius: 6px;
  font-weight: bold;
  color: #fff !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
}

/* Range selection */
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
}

.react-calendar__tile--rangeStart {
  background: #6f48eb !important;
  border-radius: 6px 0 0 6px;
  color: white;
}

.react-calendar__tile--rangeEnd {
  background: #6f48eb !important;
  border-radius: 0 6px 6px 0;
  color: white;
}

.react-calendar__month-view__days {
	height: 400px;
	align-items: center;
	margin: 70px 0;
}

.calendar-container{
  /* position: fixed; */
	display: flex;
	justify-content: center;
}